/*initial css file*/

@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap'); 

body{
  font-family: Poppins, sans-serif;
  line-height: 1.5;
}

.header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}
/* removing the bullet points in the unordered list*/ 
.header nav ul {
  list-style-type: none;
}

.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: #ffffff;
  text-decoration: none;
}



