:root{
  --mainHover: orangered; 
  --borderCol: #ddd;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap'); 

body{
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  display:flex;
  width: 100%;
}
/*header setup*/
.header{
  position: fixed;
  top: 0;
  min-height: 50px;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  width: 100%;
  display: flex;
  padding: 10px 16px;
  z-index: 1;
  height:100px;
} 

.logo{
  width: 55%;
  padding: 10px;
}

/* removing the bullet points and underline */ 
li{
  list-style: none;
}
a{
 text-decoration: none;
 color: darkgray;
}
/*** Navigation start ***/
nav{
  font-weight: 400; 
  display: flex;
  flex-direction: row;
  margin-right: 65px;
}


nav > ul{
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  
}

nav a:hover{
  color:var(--mainHover);
}
/*** Navigation ends ***/

/*** Main section ***/
.main{
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  align-items: center;
 
}

.section-headers{
  display:flex;
  justify-content: center;
  margin-top:150px;
}

p{
  text-align: center;
}

#profile-pic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:30px;
  border: 5px solid var(--borderCol);
  border-radius: 50% 20px 50% 20px;
  padding: 5px;
  box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
/*Tooltip for profile pic*/
span[data-descr]{
  position: relative;
  cursor:grab;
} 
/*Tooltip hover*/
span[data-descr]:hover::after{     
  content: attr(data-descr);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 25px;
  transform: translateX(190%);
  min-width: 300px;
  border: 3px solid var(--borderCol);
  padding: 12px;
  background-color:rgb(244, 244, 244);
  font-size: 18px;
  border-radius: 20px;
  box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  /* z-index:1; */
  justify-content: center;
}

/*** Work Section start ***/
#work{
  display:block;
  justify-content: center;
  align-items: center;
  width:100%;
  margin-left: 11%;
}
#work-link{
  margin-left:-10%;
}
/*Project tile template for projects*/
.project-tile{
  display:inline-block;
  background-color: white;
  border: 5px solid var(--borderCol);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  margin-right:25px;
  border-radius: 25px;
  width:20%;
  height: 300px;
  overflow: hidden;
}
/*tile header container*/
.pic-container{
  text-align:center;
  padding: 10px 20px 10px 10px; 
  width:100%;
} 

/*tile image adjustment*/
.img-adj{
  width:100%;
  border-radius: 20px 20px 0 0;
  height: 50%;
}

/*project tile text*/
.title-tile{
  color:blue;
  font-size: 20px;
  
}
/*project tile hover attr.*/
.project-tile:hover{
  background-color: var(--mainHover);
  box-shadow: 0 4px 8px 0 rgba(255, 69, 0, 0.2), 0 6px 20px 0 rgba(255, 69, 0, 0.19);
  border: 5px solid orange;
  transform: scale(1.10);
}

#resume{
  margin-bottom: 100px;
}
/*** Work Section ends ***/

/*** Contact Section starts ***/
.contact-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 50vw;
  padding: 0 2rem;
}
/*header "Let's create together"*/
.contact-section-header > h3{
  text-align: center;
  font-size: 40px;
  width:100%
}

/*coffee ways line text styling*/
.contact-section-header > p{
  font-style: italic;
  font-size: 25px;
}

/*setting positioning of contact links*/
.contact-links{
  display:flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 2rem;
  flex-wrap: wrap;
}

/*contact text links and ease motion*/
.contact-details{
  font-size: 2.0rem;
  /*text-shadow: 2px -12px 1px #1f1f1f;*/
  transition: transform 0.3s ease-out;
  padding: 20px;
}

/*contact hovering turns orangered, adds a text-shadow, and directs a moves down*/
.contact-details:hover{
  transform: translateY(-10px);
  color: var(--mainHover);
  text-shadow: 13px 25px 5px #1f1f1f;
  
} 
/*** Contact Section ends ***/

/*** Resume Sections starts ***/
.resume-container {
margin: 0 auto; 
box-sizing: border-box;
padding: 0.5in; /* controls margins */
width: 8.5in;
height: 11in;
background-color: white;
box-shadow: 0 3px 8px -3px rgba(0, 0, 0, 0.7);
}

.multicolumn {
display: grid;
grid-template-columns: 1fr 3fr;
gap: 1rem;
}

.resume-contact{
  text-align: start;
  width:100%
  
}

.info-card{
  text-align: end;
  margin-right: 65px;
  
}
.resume-titles{
  text-align:start;
  font-size: 20px;
}

.download-link{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color:blue;
  font-size: 18px;
}
.download-link:hover{
  color:var(--mainHover);
}

/*print set up*/
@media print {
  body {
    margin: 0;
  }

  .resume-container {
    width: 100%;
    box-shadow: none;
  }
  html {
    height: 11in;
    width: 8.5in;
    overflow: hidden;
  }
}


/*** Resume Section ends ***/

/*** Footer starts ***/
footer{
  margin-top: 50px;
  padding: 0px;
  align-items: flex-end;
  background-color: #d3d3d3;
  display:flex;
  width:100%;
  position: fixed;
  bottom: 0; 
  justify-content: center;
  opacity: 50%;
}
/*** Footer ends ***/

/*** Making Responsive Site ***/
/* Responsive: For tablets: */
@media screen and (max-width:810px) {
  body{
   width:100%;
   display: flex;
  }
  
  header{
    position: fixed;
    width:100%;
  }
  main{
    width: 80%;
    margin-left:10%;
  }
  .logo{
   display: flex;
   flex-direction: column;
    
  }
  nav{
    margin-top: 15px;
    width: 100%;
    flex-direction: column;
    
   
  }
  nav ul li{
    margin-right: 10px;
    font-size: 12px;;
  }
  .section-headers{
    width:100%;
    margin-top: 250px;
  }
  span[data-descr]:hover::after{
    left: 50%;
    transform:translateX(50%);
  }
  p{
    width:100%;
    text-align: center;
}
.project-tile{
  width:25%;
  height: 150px;
  
} 
.title-tile{
  font-size: 14px;
}
.resume-container{
  scale:0.75;
  margin-bottom:5px;
  margin-top: -200px;
}
.download-link{
  margin-top: 5px;
  margin-top:-200px;
}

}
/*Responsive: For mobile */
@media screen and (max-width:500px) {
  body{
    width:100%;
    display: flex;
   }
   main{
     margin-left:10%;
     width:80%;
   }
   .header{
     position: fixed;
     width:100%;
     display:flex;
     flex-direction: column;
     height:225px;
   }
   
   .logo{
    margin-top: 40px;
    width:100%;
    text-align:center; 
    margin-right: 15%;
    scale:0.65; 
   }
   nav{
    display: flex;
    flex-direction: column;
    margin-right:25%;
    width:100%;
   }
   nav ul{
    width: 100%;
   }
   nav ul li{
     margin-right: 15px;
     font-size: 12px;
     
   }
   .section-headers{
     width:100%;
   }
   span[data-descr]:hover::after{
     left: 50%;
     transform:translateX(15%);
   }
   p{
     width:100%;
     text-align: center;
 }
 .project-tile{
   width:100%;
   height: 250px;
   
 }
 .title-tile{
   font-size: 20px;
 }
 .resume-container{
   scale:0.50;
   margin-bottom:5px;
 }
 .download-link{
   font-size: 30px;
 }
}
